.first {
    border: 1px solid red;
    width: 30%;
    box-sizing: border-box;
}

.second {
    border: 1px solid green;
    width: 30%;
    box-sizing: border-box;
}

.third {
    border: 1px solid blue;

    width: 30%;
    box-sizing: border-box;
}

.temp {
    float: left;
}